<div>
	This is the front end for a currency exchange bot. It is connected on the backend to <a href="http://gdax.com">GDAX.com</a> using their api with Ruby on Rails. It monitors the current price of Bitcoin(BTC) and will buy Bitcoin if the price is increasing, and sell when the price decreases. My initial investment was $15 USD and my current account value is listed below.
</div>

<div>
	<span>Current Stats as of: <%= Time.now %></span>
	<table>
		<tr>
			<th>
				Spot Price
			</th>
			<th>
				Movement (10s)
			</th>
			<th>
				USD Avail
			</th>
			<th>
				BTC Avail
			</th>
			<th>
				ETH Avail
			</th>
			<th>
				Total Value (USD)
			</th>
		</tr>
		<%= render @stat %>
		<tr>
			<td colspan="6">
				Total Profit: $<%= @orders.map(&:profit).sum.round(4) %>
			</td>
		</tr>
	</table>
</div>

<div>
	<span>Order Book</span>
	<table>
		<tr>
			<th>
				Quantity
			</th>
			<th>
				Buy Price
			</th>
			<th>
				Sell Price
			</th>
			<th>
				Difference
			</th>
			<th>
				Fees
			</th>
			<th>
				Profit
			</th>
			<th></th>
			<th>
				Running Ledger
			</th>
		</tr>
		<%= render @orders %>
	</table>
</div>

<div>
	Created by Jonathon Hoaglin
</div>
